<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ESP8266LED.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CF6E50F1C07CFB900D0F064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF6E5231C07CFBA00D0F064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF6E52E1C07CFBA00D0F064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
